.course-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    height: auto;
    max-height: min(25vw, 51vh);
    border: 1px solid #ffd904;
    background-color: #242424;
    z-index: 1;
}
.course-list::-webkit-scrollbar {
    width: min(17px, 1.5vw);
    background-color: transparent;
}
.course-list::-webkit-scrollbar-thumb {
    background-color: #ffd904;
}
.course-list-hidden {
    display: none;
}
.highlighted-course {
    background-color: #121010;
    position: absolute;
    width: 100%;
    height: clamp(2vw, 6vh, 3vw);
    line-height: clamp(2vw, 6vh, 3vw);
    vertical-align: middle;
}
.course {
    background-color: #242424;
    position: absolute;
    width: 100%;
    height: clamp(2vw, 6vh, 3vw);
    line-height: clamp(2vw, 6vh, 3vw);
    vertical-align: middle;
}
.input-container {
    display: flex;
    padding: 0.6rem;
    height: 2rem;
}
.course-input {
    background-color: #242424;
    border: 0;
    color: #ffd904;
    font-weight: bold;
    width: 75%;
    margin-right: 0.15rem;
    font-size: 1vw;
}
.course-input:focus {
    outline: 1px solid #242424;
}
.add-button {
    padding: 1px 6px;
    background-color: #242424;
    border: 0;
}
.add-icon {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}
.course-container {
    position: relative;
}
