#add-extension {
  padding: 1px 6px;
  background-color: #242424;
  color: #ffd904;
  border: 0;
  padding-right: auto;
  border-radius: 8px;
  height: 2rem;
  text-align: left;
  display: flex;
  max-width: 20vw;
  box-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
}

#add-extension-none {
  cursor: pointer;
  padding: 1px 6px;
  background-color: #242424;
  color: #ffd904;
  border: 0;
  margin-right: auto;
  border-radius: 8px;
  height: 2rem;
  text-align: left;
  display: flex;
  width: 9rem;
  box-shadow: 1px 1px 1px 1px black;
}

#add-extension:hover {
  background-color: #121212;
}

#add-extension-none:hover {
  background-color: #121212;
}
